
#alsoRan {


}

li {
    border: 5px solid black;
    margin: 20px;
    padding: 10px
}

body {
    background-color: rgb(255, 231, 194);
}

.flexi ol{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}